@using System.Security.Claims
@model LoginModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.min.css">
    <link rel="icon" href="/images/logo/logo4.jpg" type="image/x-icon"/>
    <link rel="stylesheet" href="/css/base.css">
    <script src="/js/main.js"></script>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/fonts/fontawesome-free-6.2.0/fontawesome-free-6.2.0-web/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <title>VuHiep</title>
</head>

<body>
    <div class="screenNotEnoughWidthNoti" style="font-size: 2.8rem; text-align:center; margin-top: 200px; line-height: 3.0rem; display: none;">
        <div>Trang web chưa hỗ trợ ipad và các thiết bị di động, vui lòng sử dụng máy tính để truy cập</div>
    </div>
    <div class="app">
        <header class="header">
            <div class="grid">
                <nav class="header__navbar">
                    @foreach (Category item in ViewBag.Categories)
                    {
                        <div class="navbar__category">
                            <div class="navbar__category-label">
                                <a href="/Product/@item.CategoryName/index" class="navbar__category-link">
                                    <span navbar__category-name>@item.CategoryName</span>
                                    <i class="navbar__category-icon fa-solid fa-angle-down"></i>
                                </a>
                            </div>
                            <div class="navbar__category-subnav">
                                <ul class="navbar__category-subnav-brandList">
                                @foreach (KeyValuePair<int, List<Brand>> pair in ViewBag.BrandOfCategories)
                                {
                                    if(pair.Key == item.CategoryId){
                                        foreach(Brand brand in pair.Value){
                                            <a class="navbar__category-subnav-brandLink" href="/Product/@item.CategoryName/@brand.BrandName">
                                                <li value="@brand.BrandId">@brand.BrandName</li>
                                            </a>
                                        }
                                    }
                                }
                                </ul>
                            </div>
                        </div>                        
                    }
                </nav>
                <div class="header__barWithSearch">
                    <div class="barWithSearch__logo">
                        <a href="/home">
                            <img class="barWithSearch__logo-img" src="/images/logo/shoplogo2.png" alt="Shop logo">
                        </a>
                    </div>
                    <div class="header__searchField">
                        <form action="/home/searchProduct" method="post" class="searchField__form" enctype="application/x-www-form-urlencoded">
                            <input placeholder="Tìm kiếm sản phẩm" class="searchField__form-input" name="productName">
                            </input>
                            <button class="searchField__form-searchBtn" type="submit">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </form>
                        
                    </div>  
                    <ul class="barWithSearch__link">
                        <li class="barWithSearch__cart">
                                <i class="barWithSearch__cart-logo fa-solid fa-cart-shopping"></i>
                                <span class="barWithSearch__cart-numofProd">@ViewBag.CartProductsNum</span>
                        </li>
                        @if(User.Identity.IsAuthenticated){
                            <div class="barWithSearch__LogedIn">
                                <li class="barWithSearch__account">
                                    <div class="barWithSearch__account-imgContainer">
                                        @* <img class="barWithSearch__account-img" src="/images/user/@User.FindFirstValue(ClaimTypes.Uri)" alt="UserAvatar"> *@
                                        <img class="barWithSearch__account-img" src="/images/user/@ViewBag.User.ImageUrl" alt="UserAvatar">
                                    </div>
                                    @if(ViewBag.User.FullName == null || ViewBag.User.FullName == "defaultname"){
                                        <div class="barWithSearch__account-username">@User.Identity.Name
                                            <i class="fa-solid fa-caret-down"></i>
                                            
                                            <ul class="barWithSearch__account-menu">
                                                <li class="barWithSearch__account-menuItem"><a href="/user/information">Thông tin</a></li>
                                                <li class="barWithSearch__account-menuItem"><a href="/order/index">Đơn hàng đã đặt</a></li>
                                                <li class="barWithSearch__account-menuItem Account__changePassword">Đổi mật khẩu</li>
                                                <li class="barWithSearch__account-menuItem"><a href="/auth/logout">Đăng xuất</a></li>
                                            </ul>
                                        </div>
                                    }
                                    else{
                                        <div class="barWithSearch__account-username">@Shop.Helper.normalizeName(ViewBag.User.FullName)
                                            <i class="fa-solid fa-caret-down"></i>
                                            <ul class="barWithSearch__account-menu">
                                                <li class="barWithSearch__account-menuItem"><a href="/user/information">Thông tin</a></li>
                                                <li class="barWithSearch__account-menuItem"><a href="/order/index">Đơn hàng đã đặt</a></li>
                                                <li class="barWithSearch__account-menuItem Account__changePassword">Đổi mật khẩu</li>
                                                <li class="barWithSearch__account-menuItem"><a href="/auth/logout">Đăng xuất</a></li>
                                            </ul>
                                        </div>
                                    }
                                </li>
                                
                            </div>
                            
                        }   
                        else{
                            <li class="barWithSearch__account">
                                <div class="account__login">
                                    <a class="account_login-link" href="#">Đăng nhập</a>
                                </div>
                                <div class="account__register">
                                    <a class="account_register-link" href="#">Đăng ký</a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </header>

        <div id="toast">
            
        </div>

        

        <div class="modal login__modal">
            <div class="auth__modal-login modal__body">
                <div class ="auth__modal-heading">
                    Đăng nhập
                </div>
                <div class="auth__modal-inputField">
                    <div class="auth__modal-account">
                        <i class="auth__modal-Logo fa-solid fa-user"></i>
                        <input class="auth__modal-inputUsername" type="text" placeholder="Nhập username" required>
                    </div>
                    <div class="auth__modal-password">
                        <i class="auth__modal-Logo fa-solid fa-lock"></i>
                        <input class="auth__modal-inputPassword" type="password" placeholder="Nhập mật khẩu" required>
                    </div>
                </div>
                <div class="auth__modal-footer">
                    <div class="auth__modal-loginOptions">
                        <div class="auth__modal-rememberOption">
                            <input id="rememberCheckbox" type="checkbox">
                            <label class="auth__modal-rememberLabel" for="rememberCheckbox">Ghi nhớ đăng nhập</label>
                        </div>
                        <div class="auth__modal-forgetPasswordOption">
                            @* <div>Quên mật khẩu?</div> *@
                        </div>
                    </div>
                    <div class="auth__modal-proceed">
                        <div class="auth__modal-btnLogin">Đăng nhập</div>
                    </div>
                    <div class="auth__modal-switch">
                        <span>Bạn chưa có tài khoản?</span>
                        <span class="auth__modal-switchLinkToRegister">Đăng ký</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal register__modal">
            <div class="auth__modal-register modal__body">
                <div class = "auth__modal-heading">
                    Đăng ký
                </div>
                <div class="auth__modal-inputField">
                    <div class="auth__modal-account">
                        <i class="auth__modal-Logo fa-solid fa-user"></i>
                        <input class="auth__modal-inputUsername" required type="text" placeholder="Nhập tài khoản">
                    </div>
                    <div class="auth__modal-account">
                        <i class="auth__modal-Logo fa-solid fa-envelope"></i>
                        <input class="auth__modal-inputEmail" required type="text" placeholder="Nhập email để nhận thông tin đơn hàng">
                    </div>
                    <div class="auth__modal-password">
                        <i class="auth__modal-Logo fa-solid fa-lock"></i>
                        <input class="auth__modal-inputPassword" required type="password" placeholder="Nhập mật khẩu">
                    </div>
                    <div class="auth__modal-password">
                        <i class="auth__modal-Logo fa-solid fa-lock"></i>
                        <input class="auth__modal-inputPassword" required type="password" placeholder="Nhập lại mật khẩu">
                    </div>
                </div>
                <div class="auth__modal-footer">
                    <div class="auth__modal-proceed">
                        <div class="auth__modal-btnRegister">Đăng ký</div>
                    </div>
                    <div class="auth__modal-switch">
                        <span>Bạn đã có tài khoản?</span>
                        <span class="auth__modal-switchLinkToLogin">Đăng nhập</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal changePassword__modal">
            <div class="auth__modal-changePassword modal__body">
                <div class = "auth__modal-heading">
                    Đổi mật khẩu
                </div>
                <div class="auth__modal-inputField">
                    <div class="auth__modal-account">
                        <i class="auth__modal-Logo fa-solid fa-user"></i>
                        <input class="auth__modal-inputUsername" required type="text" placeholder="Nhập tài khoản/email">
                    </div>
                    <div class="auth__modal-password">
                        <i class="auth__modal-Logo fa-solid fa-lock"></i>
                        <input class="auth__modal-inputOldPassword" required type="password" placeholder="Nhập mật khẩu">
                    </div>
                    <div class="auth__modal-password">
                        <i class="auth__modal-Logo fa-solid fa-lock"></i>
                        <input class="auth__modal-inputNewPassword" required type="password" placeholder="Nhập mật khẩu mới">
                    </div>
                </div>
                <div class="auth__modal-footer">
                    <div class="auth__modal-proceed">
                        <div class="auth__modal-btnChangePassword">Lưu thay đổi</div>
                    </div>
                </div>
            </div>
        </div>

        @RenderBody()

        <footer class="footer">
            <div class="grid">
                <div class="grid__row">
                    <div class="grid__column-3 footer__information">
                        <h3 class="footer__heading">Giới thiệu shop</h3>
                        <span class = "footer__information-describe">
                            <b>Lưu ý:</b> Trang web này được tạo ra chỉ với mục đích luyện tập code 
                            và không có mục đích thương mại, mọi thao tác mua sản phẩm thực hiện tại trang web đều là mô phỏng và không có thật.
                        </span>
                    </div>

                    <div class="grid__column-3 footer__information">
                        <h3 class="footer__heading">Thông tin liên hệ</h3>
                        <ul class="footer__detailList">
                            <li class="footer__item">
                                <i class="footer__item-logo fa-brands fa-facebook"></i>
                                <a href="https://www.facebook.com/inLovewithMaiThao/" class="footer__item-link">Facebook</a>
                            </li>
                            <li class="footer__item">
                                <i class="footer__item-logo fa-brands fa-square-instagram"></i>
                                <a href="https://www.instagram.com/" class="footer__item-link">Instagram</a>
                            </li>
                            <li class="footer__item">
                                <i class="footer__item-logo fa-solid fa-phone"></i>
                                <a href="" class="footer__item-link">Điện thoại</a>
                            </li>
                        </ul>
                    </div>

                    <div class="grid__column-3 footer__information">
                        <h3 class="footer__heading">Shop introduction</h3>
                        <span class = "footer__information-describe">
                            <b>Caution: </b>Please notice that this website is only a code practicing project, it does not have any commercial purpose, every interaction made 
                            by users like ordering a product or something else is just a simulation which means it's all unreal.
                        </span>
                    </div>
                </div>
            </div>
            <div class="grid footer__copyright">
                2022 - Bản quyền thuộc về Vũ Quang Hiệp
            </div>
        </footer>

    </div>

    <script>
        var loginBtn = document.querySelector(".account_login-link")
        var registerBtn = document.querySelector(".account_register-link")
        var allModal = document.querySelectorAll(".modal")
        var modalBody = document.querySelectorAll(".modal__body")
        var loginModal = document.querySelector('.login__modal')
        var registerModal = document.querySelector('.register__modal')
        var switchToRegisterModalLink = document.querySelector('.auth__modal-switchLinkToRegister')
        var switchToLoginModalLink = document.querySelector('.auth__modal-switchLinkToLogin')
        var btnProceedLogin = document.querySelector('.auth__modal-btnLogin') 
        var btnProceedRegister = document.querySelector('.auth__modal-btnRegister') 
        var cartBtn = document.querySelector('.barWithSearch__cart-logo')
        var appNode = document.querySelector('.app')
        var screenNotEnoughWidthNotiNode = document.querySelector('.screenNotEnoughWidthNoti')
        if(document.documentElement.clientWidth < 1200){
            appNode.style.display = 'none'
            screenNotEnoughWidthNotiNode.style.display = 'block'
        }

        window.addEventListener('resize', function(event) {
            let screenwidth = document.documentElement.clientWidth
            if(screenwidth < 1200){
                appNode.style.display = 'none'
                screenNotEnoughWidthNotiNode.style.display = 'block'
            }
            else if(screenwidth > 1200){
                appNode.style.display = 'block'
                screenNotEnoughWidthNotiNode.style.display = 'none'
            }
        }, true);

        @* Handling when user click on cart icon  *@
        cartBtn.addEventListener('click', function(e){
            if(@Html.Raw(Json.Serialize(@User.Identity.IsAuthenticated)) == false){
                toast({
                    title: 'Không thể truy cập giỏ hàng',
                    message: 'Vui lòng đăng nhập để truy cập vào giỏ hàng',
                    type: 'info',
                    duration: 3000
                })
            }
            else{
                window.location = "/cart"
            }
        })

        if(@Html.Raw(Json.Serialize(@User.Identity.IsAuthenticated)) == false){
            loginBtn.addEventListener('click', function(e){
                loginModal.classList.add('modal-active')
            })
            registerBtn.addEventListener('click', function(e){
                registerModal.classList.add('modal-active')
            })
        }
        
        for(let i = 0; i< modalBody.length; i++){
            modalBody[i].addEventListener('click', function(e){
                e.stopPropagation()
            })
        }

        for(let i = 0; i < allModal.length; i++){
            allModal[i].addEventListener('click', function(e){
                allModal[i].classList.remove('modal-active')
            })
        }

        switchToLoginModalLink.addEventListener('click', function(e){
            registerModal.classList.remove('modal-active')
            loginModal.classList.add('modal-active')
        })

        switchToRegisterModalLink.addEventListener('click', function(e){
            loginModal.classList.remove('modal-active')
            registerModal.classList.add('modal-active')
        })

        btnProceedLogin.addEventListener('click', function(e){
            let username = loginModal.querySelector('.auth__modal-inputUsername').value
            let password = loginModal.querySelector('.auth__modal-inputPassword').value
            let remember = loginModal.querySelector('#rememberCheckbox').checked
            if(username == "" || password == ""){
                toast({
                    title: 'Thất bại',
                    message: 'Tài khoản mật khẩu không hợp lệ, vui lòng đăng nhập lại',
                    type: 'error',
                    duration: 3000
                })
            }
            else{
                let obj = {
                    Username : username,
                    Password : password,
                    Remember : remember,
                }
                let result = SendHttpPostRequest("/auth/login", obj);
                if(result === 'false'){
                    toast({
                        title: 'Thất bại',
                        message: 'Tài khoản mật khẩu không hợp lệ, vui lòng đăng nhập lại',
                        type: 'error',
                        duration: 3000
                    })
                    @* alert("Tài khoản mật khẩu không hợp lệ, vui lòng đăng nhập lại") *@
                }
                else{
                    loginModal.classList.remove('modal-active')
                    location.reload()
                }
            }
        })

        btnProceedRegister.addEventListener('click', function(e){
            let username = registerModal.querySelector('.auth__modal-inputUsername').value
            let email = registerModal.querySelector('.auth__modal-inputEmail').value
            let password = registerModal.querySelectorAll('.auth__modal-inputPassword')
            let password1 = password[0].value
            let password2 = password[1].value
            if(password1 !== password2){
                toast({
                    title: 'Thất bại',
                    message: 'Đăng kí thất bại, mật khẩu và mật khẩu xác nhận phải giống nhau, vui lòng nhập lại',
                    type: 'error',
                    duration: 3000
                })
                @* alert("Mật khẩu và mật khẩu xác nhận phải giống nhau, vui lòng nhập lại")  *@
            }
            else if(username == "" || password1 == "" || email == ""){
                toast({
                    title: 'Thất bại',
                    message: 'Đăng kí thất bại, không được bỏ trống bất cứ thông tin nào, vui lòng nhập lại',
                    type: 'error',
                    duration: 3000
                })
            }
            else{
                let obj = {
                    Username : username,
                    Password : password1,
                    Email : email
                }
                let result = SendHttpPostRequest("/auth/register", obj)
                if(result === 'false'){
                    toast({
                        title: 'Thất bại',
                        message: 'Đăng kí thất bại, tên tài khoản đã tồn tại, vui lòng sử dụng tên tài khoản khác',
                        type: 'error',
                        duration: 3000
                    })
                    @* alert("Tên tài khoản đã tồn tại, vui lòng sử dụng tên tài khoản khác")  *@
                }
                else{
                    toast({
                        title: 'Thành công',
                        message: 'Đăng kí tài khoản thành công, xin mời đăng nhập',
                        type: 'success',
                        duration: 3000
                    })
                    @* alert("Đăng kí tài khoản thành công, xin mời đăng nhập") *@
                    registerModal.classList.remove('modal-active')
                    loginModal.classList.add('modal-active')
                }
            }
        })

        @* Handling when user click on option changePassword  *@
        if(@Html.Raw(Json.Serialize(@User.Identity.IsAuthenticated)) == true){
            var changePassWordbtn = document.querySelector('.Account__changePassword')
            var proceedChangePasswordbtn = document.querySelector('.auth__modal-btnChangePassword')
            var changePassWordModal = document.querySelector('.changePassword__modal')
            changePassWordbtn.addEventListener('click', function(e){
                changePassWordModal.classList.add('modal-active')
            })
            proceedChangePasswordbtn.addEventListener('click', function(e){
                let obj = {
                    Username : proceedChangePasswordbtn.parentNode.parentNode.parentNode.querySelector('.auth__modal-inputUsername').value,
                    Password : document.querySelector('.auth__modal-inputOldPassword').value,
                    NewPassword : document.querySelector('.auth__modal-inputNewPassword').value
                }
                let result = SendHttpPostRequest("/auth/changepassword", obj)
                if(result === 'true'){
                    @* alert("Đổi mật khẩu thành công, vui lòng đăng nhập lại")  *@
                    setTimeout(function(){
                        window.location.href = ("/home")
                    },1300)

                    toast({
                        title: 'Thành công',
                        message: 'Đổi mật khẩu thành công, vui lòng đăng nhập lại',
                        type: 'success',
                        duration: 3000
                    })
                }
                else{
                    toast({
                        title: 'Thất bại',
                        message: 'Đổi mật khẩu thất bại, vui lòng thử lại',
                        type: 'error',
                        duration: 3000
                    })
                    @* alert("Đổi mật khẩu thất bại, vui lòng thử lại") *@
                }
            })
        }
    </script>
</body>
</html>
