@{
    int p = ViewContext.RouteData.Values["page"] != null ? Convert.ToInt32(ViewContext.RouteData.Values["page"]) : 1;
    string controllerString = "";
    string actionString = "";
    string controller = ViewContext.RouteData.Values["controller"].ToString();
    string action = ViewContext.RouteData.Values["action"].ToString();
    if(controller.ToLower() == "home"  && action.ToLower() == "index"){
        controllerString = "home";
        actionString = "index";
    }
    else if(controller.ToLower() == "category"){
        controllerString = "Product/"+ ViewContext.RouteData.Values["categoryname"].ToString();
        if(action.ToLower() == "index"){
            actionString = "index";
        }
        else{
            actionString = ViewContext.RouteData.Values["brandname"].ToString();
        }
    }
}

<div class="pagination">
    <div class="pagination__layout">
        @if(p != 1 && ViewBag.totalPage > 6){
            <div class="pagination__node"><a class="pagination__link" href="/@controllerString/@actionString/@(p-1)"><i class="fa-solid fa-chevron-left"></i></a></div>
        }
        @if(ViewBag.totalPage <= 6){
            if(ViewBag.totalPage > 1){
                @for(int i = 1; i <= ViewBag.totalPage; i++){
                    <div class="pagination__node"><a class="pagination__link" href="/@controllerString/@actionString/@i">@i</a></div>
                }
            }
        }
        else{
            if(p >= 5 && p <= ViewBag.totalPage - 4){
                <div class="pagination__node"><a class="pagination__link" href="/@controllerString/@actionString/1">1</a></div>
                <div class="pagination__node">...</div>
                for(int i= p-2; i <= p+2; i++){
                    <div class="pagination__node"><a class="pagination__link" href="/@controllerString/@actionString/@i">@i</a></div>
                }
                <div class="pagination__node">...</div>
                <div class="pagination__node"><a class="pagination__link" href="/@controllerString/@actionString/@ViewBag.totalPage">@ViewBag.totalPage</a></div>
            }
            else{
                if(p < 5){
                    for(int i = 1; i<=5; i++){
                        <div class="pagination__node"><a class="pagination__link" href="/@controllerString/@actionString/@i">@i</a></div>
                    }
                    <div class="pagination__node">...</div>
                    <div class="pagination__node"><a class="pagination__link" href="/@controllerString/@actionString/@ViewBag.totalPage">@ViewBag.totalPage</a></div>
                }
                else{
                    <div class="pagination__node"><a class="pagination__link" href="/@controllerString/@actionString/1">1</a></div>
                    <div class="pagination__node">...</div>
                    for(int i = ViewBag.totalPage-4; i<=ViewBag.totalPage; i++){
                        <div class="pagination__node"><a class="pagination__link" href="/@controllerString/@actionString/@i">@i</a></div>
                    }
                }
            }
        }
        @if(p != ViewBag.totalPage && ViewBag.totalPage > 6){
            <div class="pagination__node"><a class="pagination__link" href="/@controllerString/@action/@(p+1)"><i class="fa-solid fa-chevron-right"></i></a></div>
        }
    </div>
</div>

<script>
    let activePaginationNode = '@ViewContext.RouteData.Values["page"]'
    if(activePaginationNode == ""){
        activePaginationNode = "1"
    }
    let paginationlinkNodes = document.querySelectorAll('.pagination__link')
    for(let i = 0; i < paginationlinkNodes.length; i++){
        console.log(paginationlinkNodes[i].innerHTML)
        if(paginationlinkNodes[i].innerHTML == activePaginationNode){
            paginationlinkNodes[i].parentNode.style.backgroundColor = 'rgba(98, 48, 155, 0.466)'
        }
    } 
</script>